body{
    margin:0;
}

.header{
    width:100%;
    height:80px;
    display:flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    color:red;


}

.logo{
    font-size: 40px;
}

a{
    color:red;
    text-decoration: none;
    font-size: 20px;
}

.headPic{
    height:50px;
    width:50px;
    border-radius: 50px;
}

.content{
    background-color: red;
    color:black;
    display: flex;
    justify-content: center;
    margin:0;
}

.startText{
    margin:0;
    width:600px;
    padding-top:70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer{
    width:100%;
    background-color: black;
    height:80px;
    color:red;
}

